.cardlist{
    width: '18rem';
    background-color: cornsilk;
    
}

.listitem {
    background-color: cornsilk;
    
}


#listgroup {
    height: 200px;
    white-space: pre-line;
    background-color: cornsilk;
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000 60%, transparent);
    white-space: pre-line;
}
